ul {
  list-style-type: none;
}

.movie-container {
  width: 60%;
}

.movie-tile {
  transition: 0.5s;
}

.movie-tile:hover {
  transform: rotateY(180deg);
  visibility: hidden;
}

.movie-tile

// .movie-tile:hover .movie-tile-inner {
//   transform: rotateY(180deg);
// }

.movie-tile-front, .movie-tile-back {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.movie-tile-front {
  text-align: center;
  padding: 0;
}

.movie-tile-back {
  transform: rotateY(180deg);
}
