$filter-color: rgb(255, 145, 1);

.filter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    border: 2px solid;
    border-radius: 20px;
    width: 30%;
    height: 100%;
}

.buttons {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 0 10px;
    width: 150px;
}

.buttons:hover {
    // background-color: rgb(255, 145, 1);
    color: $filter-color;
}

.filter-container {
    padding: 10px;
    margin: 20px 0;
}
.genre-filter {
    grid-template-columns: 1fr 1fr;
}

.submit {
    color: white;
    background-color: $filter-color;
    border: 1px solid;
    border-color: $filter-color;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px;
    width: 200px;
}